#wrap{
  height: 800px;
  padding: 20px;
  background:
    linear-gradient(
      limegreen,
      transparent
    ),
    linear-gradient(
      90deg,
      skyblue,
      transparent
    ),
    linear-gradient(
      -90deg,
      coral,
      transparent
    );
}

#container{
  width: 300px;
  position: relative;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#temperature{
  text-align: center;
  font-size: 100px;
  color: yellow;
}

p{
  color: #fff;
}

button{
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#333;
  background-color:#FA2;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  padding:4px 16px;
  text-shadow:#FE6 0 1px 0
}
